@mixin box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

@mixin border-bottom_line {
  border-bottom: 2px solid #e0e0e0;
}

@mixin user-img {
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
}

@mixin relationship {
  .btn-primary {
    background: #7a7576;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 10px;
    width: 150px;
  }
  .btn-primary:hover {
    background: #353434;
  }
  .btn-danger {
    background: #ee2049;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 10px;
    width: 150px;
  }
  .btn-danger:hover {
    background: #e71919;
  }
}