<% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
  <div class="like_btn_on">
    <%= link_to "/posts/#{@post.id}/likes/#{@post.likes.ids}", {method: :delete, class: "element", remote: true} do %>
      <i class="fas fa-heart like_btn"></i>
    <% end %>
  </div>
<% else %>
  <div class="like_btn">
    <%= link_to "/posts/#{@post.id}/likes", {method: :post, class: "element", remote: true} do %>
      <i class="fas fa-heart unlike_btn"></i>
    <% end %>
  </div>
<% end %>
<div class="count">
  <%= @post.likes.length %>
</div>