<div id="home"><a href="/"></a></div>
<div class="users-wrapper">
  <div class="baby-wrapper">
  
    <div class="user-contents">
      <h1>フォローしているユーザーの一覧</h1>
        <%= render "follow" %>
      </h1>
    </div>
  </div>
</div>