// ヘッダー部分の装飾
.header {
  height: 60px;
  line-height: 60px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  background-color: #ffeee7;
  color: #555555;
  box-shadow: 0 0 10px #333333;
  .header-title {
    min-width: 240px;
    font-size: 36px;
    .title-name {
      text-decoration: none;
    }
  }
  .header-sub {
    width: 300px;
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
    .log-in,
    .new-menu {
      font-size: 18px;
      text-decoration: none;
    }
    .user-image {
      padding-top: 6px;
      img {
        width: 48px;
        height: 48px;
        @include user-img;
      }
    }
  }
}

// post.index

.wrapper {
  background-image: image_url('baby_background.png');
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  // background-size: 100%;
  // height: calc(100vh - 100px);
  padding: 50px 0;
  .main-contents {
    border-radius: 5px;
    max-width: 1000px;
    min-width: 300px;
    // height: calc(100vh - 100px);
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    @include box-shadow;
    .search {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include border-bottom_line;
      &__form {
        height: 30px;
        width: 600px;
        border: 1px solid #858484;
      }
      &__btn {
        height: 30px;
        width: 50px;
        min-width: 50px;
        border: 1px solid #858484;
      }
    }
    .content-main {
      // min-width: 400px;
      
      &__box {
        // padding-left: 20px;
        // height: 300px;
        h1 {
          text-align: center;
          padding-top: 10px;
        }
        &__post {
          display: flex;
          flex-wrap: wrap;
          padding: 0 50px;
          &__box {
            width: 400px;
            height: 400px;
            @include box-shadow;
            margin: 15px;
            position: relative;
            &--img {
              width: 400px;
              height: 300px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                // background-color: #fff;
              }
            }
            &--info {
              height: 100px;
              padding: 10px 20px;
              border-top: 1px solid #e0e0e0;
              .user-info {
                display: flex;
                .user-image {
                  width: 40px;
                  height: 40px;
                  img {
                    width: 48px;
                    height: 48px;
                    @include user-img;
                  }
                }
                .user-name {
                  padding-left: 20px;
                }
              }
              .post-title {
                padding-top: 15px;
              }
            }
          }
          &__box:hover {
            box-shadow: 0 2px 12px 10px rgba(0,0,0,.3);
          }
        }
      }
    }
  }
}

