@media screen and (min-width :500px) {
  .header {
    height: 120px;
    line-height: 130px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    background-color: #ffeee7;
    color: #555555;
    box-shadow: 0 0 10px #333333;
    .header-title {
      font-weight: bold;
      min-width: 240px;
      font-size: 72px;
      .title-name {
        text-decoration: none;
        img {
          width: auto;
          height: 120px;
        }
      }
    }
    .header-sub {
      width: 400px;
      min-width: 400px;
      display: flex;
      justify-content: space-evenly;
      .log-in,
      .new-menu {
        font-size: 24px;
        margin-left: 20px;
        position: relative;
        display: inline-block;
        text-decoration: none;
      }
      .log-in::after,
      .new-menu::after {
        position: absolute;
        bottom: 10px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #868585;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
      }
      .log-in:hover::after,
      .new-menu:hover::after {
        transform: scale(1, 1);
      }
      .user-image {
        padding-top: 10px;
        margin-left: 10px;
        img {
          width: 100px;
          height: 100px;
          @include user-img;
        }
      }
    }
  }
  .wrapper {
    background-image: image_url('baby_background.png');
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
    min-height: calc(100vh - 60px);
    padding: 50px 0;
    .main-contents {
      border-radius: 5px;
      max-width: 1000px;
      min-width: 300px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      @include box-shadow;
      .search {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        @include border-bottom_line;
        &__form {
          height: 60px;
          width: 600px;
          padding: 20px;
          font-size: 30px;
          border-radius: 3px;
          border: 1px solid #858484;
        }
        &__btn {
          background: #f16272;
          border: none;
          color: #fff;
          cursor: pointer;
          height: 60px;
          font-size: 24px;
          letter-spacing: 0.05em;
          text-align: center;
          text-transform: uppercase;
          transition: background 0.3s ease-in-out;
          width: 100px;
          border-radius: 30px;
        }
        &__btn:hover {
          background: #ee3e52;
        }
      }
      .content-main {
        &__box {
          h1 {
            font-size: 60px;
            text-align: center;
            padding-top: 10px;
          }
          &__post {
            display: flex;
            flex-wrap: wrap;
            // padding: 0 50px;
            &__box {
              width: 100%;
              @include box-shadow;
              margin: 15px;
              position: relative;
              &--img {
                width: 100%;
                // height: 500px;
                img {
                  width: 100%;
                  // height: 500px;
                  object-fit: contain;
                }
              }
              &--info {
                padding: 10px 20px;
                border-top: 1px solid #e0e0e0;
                .user-info {
                  display: flex;
                  .user-image {
                    width: 150px;
                    height: 150px;
                    img {
                      width: 150px;
                      height: 150px;
                      @include user-img;
                    }
                  }
                  .user-name {
                    padding-top: 20px;
                    padding-left: 20px;
                    span {
                      font-size: 40px;
                    }
                    .post-date {
                      font-size: 30px;
                    }
                    i {
                      font-size: 26px;
                      color: #c0bdbd;
                      .date-info {
                        font-size: 26px;
                        color: #c0bdbd;
                      }
                    }
                  }
                }
                .post-title {
                  padding-top: 15px;
                  padding-bottom: 10px;
                  font-size: 48px;
                  @include border-bottom_line
                }
                .post-text {
                  padding-top: 10px;
                  font-size: 48px;
                  color: #969494;
                  word-wrap: break-word;
                }
              }
            }
            &__box:hover {
              box-shadow: 0 2px 12px 10px rgba(0,0,0,.3);
            }
          }
        }
      }
    }
  }
  #page_top{
    width: 150px;
    height: 150px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    background: #3f98ef;
    opacity: 0.6;
    border-radius: 50%;
    z-index: 1000;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 100px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 43px;
    margin: auto;
    text-align: center;
  }
}

@media screen and (min-width :1015px) {
  .header {
    height: 100px;
    line-height: 100px;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    background-color: #ffeee7;
    color: #555555;
    box-shadow: 0 0 10px #333333;
    .header-title {
      min-width: 240px;
      font-size: 36px;
      .title-name {
        text-decoration: none;
        img {
          width: auto;
          height: 100px;
        }
      }
    }
    .header-sub {
      width: 400px;
      min-width: 400px;
      display: flex;
      justify-content: space-evenly;
      .log-in,
      .new-menu {
        font-size: 18px;
        position: relative;
        display: inline-block;
        text-decoration: none;
      }
      .log-in::after,
      .new-menu::after {
        position: absolute;
        bottom: 10px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #868585;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
      }
      .log-in:hover::after,
      .new-menu:hover::after {
        transform: scale(1, 1);
      }
      .user-image {
        padding-top: 10px;
        img {
          width: 80px;
          height: 80px;
          @include user-img;
        }
      }
    }
  }
  .wrapper {
    background-image: image_url('baby_background.png');
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    min-height: calc(100vh - 60px);
    padding: 50px 0;
    .main-contents {
      border-radius: 5px;
      max-width: 1000px;
      min-width: 300px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      @include box-shadow;
      .search {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        @include border-bottom_line;
        &__form {
          height: 30px;
          width: 600px;
          padding: 20px;
          font-size: 18px;
          border-radius: 3px;
          border: 1px solid #858484;
        }
        &__btn {
          background: #f16272;
          border: none;
          color: #fff;
          cursor: pointer;
          height: 40px;
          font-size: 1.2em;
          letter-spacing: 0.05em;
          text-align: center;
          text-transform: uppercase;
          transition: background 0.3s ease-in-out;
          width: 80px;
          border-radius: 20px;
        }
        &__btn:hover {
          background: #ee3e52;
        }
      }
      .content-main {
        
        &__box {
          h1 {
            font-size: 24px;
            text-align: center;
            padding-top: 10px;
          }
          &__post {
            display: flex;
            flex-wrap: wrap;
            padding: 0 50px;
            &__box {
              width: 400px;
              @include box-shadow;
              margin: 15px;
              position: relative;
              &--img {
                width: 400px;
                height: 300px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              &--info {
                padding: 10px 20px;
                border-top: 1px solid #e0e0e0;
                .user-info {
                  display: flex;
                  .user-image {
                    width: 40px;
                    height: 40px;
                    img {
                      width: 48px;
                      height: 48px;
                      @include user-img;
                    }
                  }
                  .user-name {
                    padding-top: 10px;
                    padding-left: 20px;
                    span {
                      font-size: 16px;
                    }
                    .post-date {
                      font-size: 14px;
                    }
                    i {
                      font-size: 14px;
                      color: #c0bdbd;
                      .date-info {
                        font-size: 14px;
                        color: #c0bdbd;
                      }
                    }
                  }
                }
                .post-title {
                  padding-top: 15px;
                  font-size: 16px;
                  @include border-bottom_line;
                }
                .post-text {
                  font-size: 16px;
                  color: #969494;
                  word-wrap: break-word;
                }
              }
            }
            &__box:hover {
              box-shadow: 0 2px 12px 10px rgba(0,0,0,.3);
            }
          }
        }
      }
    }
  }
  #page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    background: #3f98ef;
    opacity: 0.6;
    border-radius: 50%;
    z-index: 1000;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
}
