<div class="devise-wrapper">
  <div class="form-wrapper">
    <h1 class="devise">ログイン</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-item">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: "required", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="form-item">
        <%= f.password_field :password, autofocus: true, autocomplete: "current-password", required: "required", placeholder: "パスワードを入力" %>
      </div>

      <div class="button-panel">
        <%= f.submit "ログイン", class: "devise_btn"%>
      </div>
    <% end  %>
    <%# <div class="form-footer">
      <p><a href="#">Create an account</a></p>
      <p><a href="#">Forgot password?</a></p>
    </div> %>
  </div>
</div>