<div class="wrapper">
  <div class="main-contents">
    <div class="search">
      <div class="search__form"></div>
      <div class="search__btn"></div>
    </div>

    <div class="content-main">
      <div class="content-main__box">
        <h1>新着投稿</h1>
        <div class="content-main__box__post">
          <% @posts.each do |post| %>
            <div class="content-main__box__post__box">
              <div class="content-main__box__post__box--img">
                <%= link_to image_tag(post.image.to_s), "#" %>
              </div>
              <span class="content-main__box__post__box--title">
                <%= post.title %>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="content-main__box">
        <h1>タグ１の新着</h1>
        <div class="content-main__box__post">
          <div class="content-main__box__post__box">
            <div class="content-main__box__post__box--img">
              <%= link_to "", "#" %>
            </div>
            <span class="content-main__box__post__box--title">
            sample
            </span>
          </div>
        </div>
      </div>
      <%# 残りは新着投稿の箇所がうまく出来たらコピペしていく %>

    </div>
  </div>
</div>